<div class="card-body">
    <div class="timeline container">
        <div class="row">
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
            <div class="col-xl-4">
            <figure>
            <img src="../assets/images/photo_1.jpg" alt="">
            <figcaption class="text-center text-muted"><h2>Sao Polo</h2></figcaption>
            </figure>
            </div>
        </div>
</div>
