<div ngbDropdown class="d-inline-block dropdown">
        <button class="btn btn-outline-primary" ngbDropdownToggle><i class="fas fa-users"></i></button>
        <div ngbDropdownMenu>
            <button class="dropdown-item"><i class="fas fa-user-plus"></i></button>
            <button class="dropdown-item"><i class="fas fa-user-circle"></i></button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-share-alt"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"><i class="fab fa-facebook-square"></i></a>
            <a class="dropdown-item" href="#"><i class="fab fa-instagram"></i></a>
            <a class="dropdown-item" href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
