<div class="card-body">
    <div class="list-group">
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>4 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>12 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>27 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>43 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>11:32 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>11:13 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>10:57 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>9:49 AM</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <img src="./assets/images/portrait.jpg" alt=""> Adrian Smith
            <span class="float-right text-muted small"><em>Yesterday</em></span>
        </a>
    </div>
    <!-- /.list-group -->
    <a href="#" class="btn btn-default btn-block">View All Users</a>
</div>
